body, html {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #6B6B6B;
  /*text-shadow: 1px 1px #EFEFEF;*/
}

.hero-image {
  background: linear-gradient(
      rgba(0, 0, 0, 0.05), 
      rgba(0, 0, 0, 0.5)
    ),
  url("../images/main-bg.jpg");
  height: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text > h1 {
  font-size: 60px;
}

h1, h3 {
  font-family: 'Rammetto One', cursive !important;
}

.scrollable-menu {
  height: auto;
  max-height: 400px;
  overflow-x: hidden;
}

.custom {
	margin: 0 40px;
}

.hiddenAtStart {
	display: none;
}

.row > .col {
	padding: 0 0.5px;
}

.card {
	display: inline-table;
	margin: 10px;
}

/* Set the button properties */
button {
	text-align: center;
	font-size: 15px;
	font-weight: 500;
	color: #000;
	color: #fff;
	background-color: #3e3f48;
	border: 2px solid #3e3f48;
	padding: 8.5px 0px;
	width: 100%;
}

/* Set the button hover properties */
button:hover {
	background-color: #717782;
	text-decoration: none;
	border: 2px solid #fff;
}

input[type=text] {
	text-align: center;
	height: 43px;
	color: #666;
	width: 100%;
	padding-left: 10px;
}

/* Sets the properties of the 'submit' button */
input[type=submit] {
	color: #fff;
	background-color: #fbdb65;
}

/* Sets the properties of the 'submit' button upon hover */
input[type=submit]:hover {
	background-color: #fbc365;
}

/*.contdiv {
  width: 310px;
  height: 410px;
  background-color: grey;
  margin: 5px;
	float: left;
	text-align: center;
	color: white;
}
*/
.mainmap {
	width: 500px;
	height: 400px;
	margin: 10px;
	float: left;
}

@media (max-width: 992px) {

	.hero-text > h1 {
		font-family: cursive;
	  font-size: 40px;
	}

	.navbar-nav {
		flex-direction: row;
		margin: 0 auto;
	}

}


@import url(https://fonts.googleapis.com/css?family=Montserrat);

.meet-the-team {
  margin-bottom: 100px;
}

.title {
  font-size: 60px;
  text-align: center;
  position: relative;
  margin: 55px 0;
  color: #666;
}

.title:after {
  background: #93AFF3;
  content: "";
  height: 8px;
  left: 0;
  margin: 50px auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 30px;
  width: 185px;
  box-shadow: 4px 3px 3px #717171;
}

.team-section {
  width: 85%;
  margin: auto;
  padding: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
}

.team-member {
  height: 200px;
  display: inline;
  margin: 20px 15px;
  
}

.image-holder img {
  border-radius: 50%;
  display: inline;
  width: 200px;
  height: 200px;
}

.text-holder {
  float: right;
  height: 100%;
  padding: 0 0 0 20px;
  position: relative;
  width: 280px;
}

.text-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.team-name {
  font-size: 18px;
  margin: 12px 0;
}

.team-job {
  font-style: italic;
  color: #6B6B6B;
  margin: 12px 0;
}

.team-bio {
  font-size: 14px;
  margin: 14px 0;
}

.team-contact {
  margin: 14px 0;
}

.team-contact a {
  text-decoration: none;
  color: #6B6B6B;
}

.team-contact a:hover {
  text-decoration: underline;
}

.shadow {
  height: 20px;
  width: 200px;
  background-color: rgba(255,255,255,0);/*
  -webkit-box-shadow: 20px 215px 150px 20px rgba(0,0,0,0.54);
  -moz-box-shadow: 20px 215px 150px 20px rgba(0,0,0,0.54);*/
  box-shadow: 0px 215px 175px 10px rgba(0,0,0,0.75);
}

/** Footer **/
.contactForm {
	background: #333333;
	color: #333;
	text-align: center;
	padding: 50px;
	margin-top: 100px;
}

.contactForm h1 {
	font-family: 'IM Fell Double Pica', serif;
	color: #ffffff;
	text-align: center;
}

.contactForm h4 {
	font-size: 12px;
	text-align: center;
}

.contactForm textarea {
	background: white;
	border: none;
	border-bottom: 1px solid #7D8186;
	border-top: 1px solid #7D8186;
	color: #333;
	font-size: 18px;
	text-align: left;
	width: 50%;
	border-radius: 10px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  text-align: center;
}

input[type=text] {
  width: 50%;
}

.contactForm button {
	background-color: rgba(255, 183, 0, 1);
	color: #333333; 
	text-align: center;
	border-radius: 10px;
	padding: 15px;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	width: 10%;
}

.contactForm button:hover {
	background-color: #fff; 
}

#add-review {
  width: 10%;
  font-size: 12px;
  font-weight: bold;
}

.footer {
  margin-top: 20px;
}